@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0, 0%, 100%, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error)
}

.Toastify__toast-container {
    box-sizing: border-box;
    color: #fff;
    padding: 4px;
    position: fixed;
    -webkit-transform: translate3d(0, 0, 9999 px);
    -webkit-transform: translate3d(0, 0, var(--toastify-z-index) px);
    width: 320px;
    width: var(--toastify-toast-width);
    z-index: 9999;
    z-index: var(--toastify-z-index)
}

.Toastify__toast-container--top-left {
    left: 1em;
    top: 1em
}

.Toastify__toast-container--top-center {
    left: 50%;
    top: 1em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.Toastify__toast-container--top-right {
    right: 1em;
    top: 1em
}

.Toastify__toast-container--bottom-left {
    bottom: 1em;
    left: 1em
}

.Toastify__toast-container--bottom-center {
    bottom: 1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.Toastify__toast-container--bottom-right {
    bottom: 1em;
    right: 1em
}

@media only screen and (max-width:480px) {
    .Toastify__toast-container {
        left: 0;
        margin: 0;
        padding: 0;
        width: 100vw
    }

    .Toastify__toast-container--top-center,
    .Toastify__toast-container--top-left,
    .Toastify__toast-container--top-right {
        top: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .Toastify__toast-container--bottom-center,
    .Toastify__toast-container--bottom-left,
    .Toastify__toast-container--bottom-right {
        bottom: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .Toastify__toast-container--rtl {
        left: auto;
        right: 0
    }
}

.Toastify__toast {
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
    box-sizing: border-box;
    cursor: default;
    direction: ltr;
    display: flex;
    font-family: sans-serif;
    font-family: var(--toastify-font-family);
    justify-content: space-between;
    margin-bottom: 1rem;
    max-height: 800px;
    max-height: var(--toastify-toast-max-height);
    min-height: 64px;
    min-height: var(--toastify-toast-min-height);
    overflow: hidden;
    padding: 8px;
    position: relative;
    z-index: 0
}

.Toastify__toast--rtl {
    direction: rtl
}

.Toastify__toast--close-on-click {
    cursor: pointer
}

.Toastify__toast-body {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    margin: auto 0;
    padding: 6px
}

.Toastify__toast-body>div:last-child {
    flex: 1 1;
    word-break: break-word
}

.Toastify__toast-icon {
    -webkit-margin-end: 10px;
    display: flex;
    flex-shrink: 0;
    margin-inline-end: 10px;
    width: 20px
}

.Toastify--animate {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.Toastify--animate-icon {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@media only screen and (max-width:480px) {
    .Toastify__toast {
        border-radius: 0;
        margin-bottom: 0
    }
}

.Toastify__toast-theme--dark {
    background: #121212;
    background: var(--toastify-color-dark);
    color: #fff;
    color: var(--toastify-text-color-dark)
}

.Toastify__toast-theme--colored.Toastify__toast--default,
.Toastify__toast-theme--light {
    background: #fff;
    background: var(--toastify-color-light);
    color: #757575;
    color: var(--toastify-text-color-light)
}

.Toastify__toast-theme--colored.Toastify__toast--info {
    background: #3498db;
    background: var(--toastify-color-info);
    color: #fff;
    color: var(--toastify-text-color-info)
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    background: #07bc0c;
    background: var(--toastify-color-success);
    color: #fff;
    color: var(--toastify-text-color-success)
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
    background: #f1c40f;
    background: var(--toastify-color-warning);
    color: #fff;
    color: var(--toastify-text-color-warning)
}

.Toastify__toast-theme--colored.Toastify__toast--error {
    background: #e74c3c;
    background: var(--toastify-color-error);
    color: #fff;
    color: var(--toastify-text-color-error)
}

.Toastify__progress-bar-theme--light {
    background: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    background: var(--toastify-color-progress-light)
}

.Toastify__progress-bar-theme--dark {
    background: #bb86fc;
    background: var(--toastify-color-progress-dark)
}

.Toastify__progress-bar--info {
    background: #3498db;
    background: var(--toastify-color-progress-info)
}

.Toastify__progress-bar--success {
    background: #07bc0c;
    background: var(--toastify-color-progress-success)
}

.Toastify__progress-bar--warning {
    background: #f1c40f;
    background: var(--toastify-color-progress-warning)
}

.Toastify__progress-bar--error {
    background: #e74c3c;
    background: var(--toastify-color-progress-error)
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning {
    background: hsla(0, 0%, 100%, .7);
    background: var(--toastify-color-transparent)
}

.Toastify__close-button {
    align-self: flex-start;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: .7;
    outline: none;
    padding: 0;
    transition: .3s ease
}

.Toastify__close-button--light {
    color: #000;
    opacity: .3
}

.Toastify__close-button>svg {
    fill: currentColor;
    height: 16px;
    width: 14px
}

.Toastify__close-button:focus,
.Toastify__close-button:hover {
    opacity: 1
}

@-webkit-keyframes Toastify__trackProgress {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    to {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
}

@keyframes Toastify__trackProgress {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    to {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
}

.Toastify__progress-bar {
    bottom: 0;
    height: 5px;
    left: 0;
    opacity: .7;
    position: absolute;
    -webkit-transform-origin: left;
    transform-origin: left;
    width: 100%;
    z-index: 9999;
    z-index: var(--toastify-z-index)
}

.Toastify__progress-bar--animated {
    -webkit-animation: Toastify__trackProgress linear 1 forwards;
    animation: Toastify__trackProgress linear 1 forwards
}

.Toastify__progress-bar--controlled {
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

.Toastify__progress-bar--rtl {
    left: auto;
    right: 0;
    -webkit-transform-origin: right;
    transform-origin: right
}

.Toastify__spinner {
    -webkit-animation: Toastify__spin .65s linear infinite;
    animation: Toastify__spin .65s linear infinite;
    border: 2px solid #e0e0e0;
    border-color: var(--toastify-spinner-color-empty-area);
    border-radius: 100%;
    border-right-color: #616161;
    border-right-color: var(--toastify-spinner-color);
    box-sizing: border-box;
    height: 20px;
    width: 20px
}

@-webkit-keyframes Toastify__bounceInRight {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes Toastify__bounceInRight {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes Toastify__bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0)
    }
}

@keyframes Toastify__bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0)
    }
}

@-webkit-keyframes Toastify__bounceInLeft {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes Toastify__bounceInLeft {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes Toastify__bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0)
    }
}

@keyframes Toastify__bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0)
    }
}

@-webkit-keyframes Toastify__bounceInUp {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes Toastify__bounceInUp {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes Toastify__bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
}

@keyframes Toastify__bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
}

@-webkit-keyframes Toastify__bounceInDown {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes Toastify__bounceInDown {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes Toastify__bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0)
    }
}

@keyframes Toastify__bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0)
    }
}

.Toastify__bounce-enter--bottom-left,
.Toastify__bounce-enter--top-left {
    -webkit-animation-name: Toastify__bounceInLeft;
    animation-name: Toastify__bounceInLeft
}

.Toastify__bounce-enter--bottom-right,
.Toastify__bounce-enter--top-right {
    -webkit-animation-name: Toastify__bounceInRight;
    animation-name: Toastify__bounceInRight
}

.Toastify__bounce-enter--top-center {
    -webkit-animation-name: Toastify__bounceInDown;
    animation-name: Toastify__bounceInDown
}

.Toastify__bounce-enter--bottom-center {
    -webkit-animation-name: Toastify__bounceInUp;
    animation-name: Toastify__bounceInUp
}

.Toastify__bounce-exit--bottom-left,
.Toastify__bounce-exit--top-left {
    -webkit-animation-name: Toastify__bounceOutLeft;
    animation-name: Toastify__bounceOutLeft
}

.Toastify__bounce-exit--bottom-right,
.Toastify__bounce-exit--top-right {
    -webkit-animation-name: Toastify__bounceOutRight;
    animation-name: Toastify__bounceOutRight
}

.Toastify__bounce-exit--top-center {
    -webkit-animation-name: Toastify__bounceOutUp;
    animation-name: Toastify__bounceOutUp
}

.Toastify__bounce-exit--bottom-center {
    -webkit-animation-name: Toastify__bounceOutDown;
    animation-name: Toastify__bounceOutDown
}

@-webkit-keyframes Toastify__zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@keyframes Toastify__zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@-webkit-keyframes Toastify__zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    to {
        opacity: 0
    }
}

@keyframes Toastify__zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    to {
        opacity: 0
    }
}

.Toastify__zoom-enter {
    -webkit-animation-name: Toastify__zoomIn;
    animation-name: Toastify__zoomIn
}

.Toastify__zoom-exit {
    -webkit-animation-name: Toastify__zoomOut;
    animation-name: Toastify__zoomOut
}

@-webkit-keyframes Toastify__flipIn {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg)
    }

    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg)
    }

    60% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg)
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes Toastify__flipIn {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg)
    }

    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg)
    }

    60% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg)
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@-webkit-keyframes Toastify__flipOut {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }

    30% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg)
    }

    to {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg)
    }
}

@keyframes Toastify__flipOut {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }

    30% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg)
    }

    to {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg)
    }
}

.Toastify__flip-enter {
    -webkit-animation-name: Toastify__flipIn;
    animation-name: Toastify__flipIn
}

.Toastify__flip-exit {
    -webkit-animation-name: Toastify__flipOut;
    animation-name: Toastify__flipOut
}

@-webkit-keyframes Toastify__slideInRight {
    0% {
        -webkit-transform: translate3d(110%, 0, 0);
        transform: translate3d(110%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideInRight {
    0% {
        -webkit-transform: translate3d(110%, 0, 0);
        transform: translate3d(110%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes Toastify__slideInLeft {
    0% {
        -webkit-transform: translate3d(-110%, 0, 0);
        transform: translate3d(-110%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideInLeft {
    0% {
        -webkit-transform: translate3d(-110%, 0, 0);
        transform: translate3d(-110%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes Toastify__slideInUp {
    0% {
        -webkit-transform: translate3d(0, 110%, 0);
        transform: translate3d(0, 110%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideInUp {
    0% {
        -webkit-transform: translate3d(0, 110%, 0);
        transform: translate3d(0, 110%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes Toastify__slideInDown {
    0% {
        -webkit-transform: translate3d(0, -110%, 0);
        transform: translate3d(0, -110%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes Toastify__slideInDown {
    0% {
        -webkit-transform: translate3d(0, -110%, 0);
        transform: translate3d(0, -110%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes Toastify__slideOutRight {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(110%, 0, 0);
        transform: translate3d(110%, 0, 0);
        visibility: hidden
    }
}

@keyframes Toastify__slideOutRight {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(110%, 0, 0);
        transform: translate3d(110%, 0, 0);
        visibility: hidden
    }
}

@-webkit-keyframes Toastify__slideOutLeft {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(-110%, 0, 0);
        transform: translate3d(-110%, 0, 0);
        visibility: hidden
    }
}

@keyframes Toastify__slideOutLeft {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(-110%, 0, 0);
        transform: translate3d(-110%, 0, 0);
        visibility: hidden
    }
}

@-webkit-keyframes Toastify__slideOutDown {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(0, 500px, 0);
        transform: translate3d(0, 500px, 0);
        visibility: hidden
    }
}

@keyframes Toastify__slideOutDown {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(0, 500px, 0);
        transform: translate3d(0, 500px, 0);
        visibility: hidden
    }
}

@-webkit-keyframes Toastify__slideOutUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(0, -500px, 0);
        transform: translate3d(0, -500px, 0);
        visibility: hidden
    }
}

@keyframes Toastify__slideOutUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(0, -500px, 0);
        transform: translate3d(0, -500px, 0);
        visibility: hidden
    }
}

.Toastify__slide-enter--bottom-left,
.Toastify__slide-enter--top-left {
    -webkit-animation-name: Toastify__slideInLeft;
    animation-name: Toastify__slideInLeft
}

.Toastify__slide-enter--bottom-right,
.Toastify__slide-enter--top-right {
    -webkit-animation-name: Toastify__slideInRight;
    animation-name: Toastify__slideInRight
}

.Toastify__slide-enter--top-center {
    -webkit-animation-name: Toastify__slideInDown;
    animation-name: Toastify__slideInDown
}

.Toastify__slide-enter--bottom-center {
    -webkit-animation-name: Toastify__slideInUp;
    animation-name: Toastify__slideInUp
}

.Toastify__slide-exit--bottom-left,
.Toastify__slide-exit--top-left {
    -webkit-animation-name: Toastify__slideOutLeft;
    animation-name: Toastify__slideOutLeft
}

.Toastify__slide-exit--bottom-right,
.Toastify__slide-exit--top-right {
    -webkit-animation-name: Toastify__slideOutRight;
    animation-name: Toastify__slideOutRight
}

.Toastify__slide-exit--top-center {
    -webkit-animation-name: Toastify__slideOutUp;
    animation-name: Toastify__slideOutUp
}

.Toastify__slide-exit--bottom-center {
    -webkit-animation-name: Toastify__slideOutDown;
    animation-name: Toastify__slideOutDown
}

@-webkit-keyframes Toastify__spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes Toastify__spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.header div {
    align-items: center;
    display: flex;
    justify-content: center
}

/* .header img {
    margin: 30px;
    width: 250px
} */

.header-btn {
    border-radius: 10px 10px 0 0 !important;
    font-size: 22px !important;
    text-transform: none !important;
    width: 150px !important
}

.modal {
    align-items: center;
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100
}

.modal-main {
    background: #fff;
    height: 100vh;
    left: 50%;
    overflow-y: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%
}

.display-block {
    display: block
}

.display-none {
    display: none
}

.diamondShapes{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 50px 20px;
    padding: 0 10px
}

.diamondShapes p {
    font-size: 12px
}

.diamondShapes-svgs {
    align-items: center;
    background-color: #d9d9d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    padding: 10px;
    width: 90%
}

.color-filter-entity,
.filterEntity {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 5px
}

.color-filter-entity {
    width: 83%
}

.toggleColor {
    background-color: #fff !important;
    border: none !important;
    border-radius: 0 !important;
    color: #000 !important;
    font-size: 12px !important;
    height: 30px !important;
    margin: 0 10px !important;
    text-transform: none !important;
    width: 40px !important
}

.filterEntity p {
    font-size: 14px
}

.slider {
    width: 85% !important
}

.diamondShape {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px
}

.diamondShapes-svgs svg {
    height: 32px;
    width: 32px
}

.diamondShapes-svgs svg:hover {
    fill: #314fde;
    cursor: pointer
}

.shape-box {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.selected svg {
    fill: #314fde
}

.controller button {
    border-radius: 0;
    font-size: 11px;
    height: 28px;
    margin: 30px 5px;
    text-transform: none
}

.controller p {
    font-size: 14px
}

.filter-slider-text-fields {
    width: 85%
}

.filter-slider {
    width: 100%
}

.filter-slider,
.filter-text-fields {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.filter-text-fields {
    width: 85%
}

.filter-text-fields input {
    font-size: 12px;
    padding: 5px 10px
}

.slider-root {
    width: 85%
}

.slider-label {
    display: flex;
    justify-content: space-around;
    width: 85%
}

.slider-label div {
    font-size: 14px;
    margin: -10px 0 10px
}

.fancy-color-root {
    width: 100%
}

.color-container {
    height: 50px !important
}

.color-container p {
    font-size: 10px
}

.fancy-color-box {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.color-selected svg {
    border: 1px solid #000
}

.sort-by {
    border-radius: 0;
    font-size: 11px;
    height: 28px;
    margin: 30px 5px;
    text-transform: none
}

/* .diamond-grid, */
.main {
    height: 100%;
    width: 100%
}

.diamond-grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.diamond-list {
    border-collapse: collapse;
    overflow: auto;
    text-align: center;
    width: 100%
}

.diamond-list-types {
    align-items: center;
    display: flex;
    justify-content: left
}

.diamond-list-types svg {
    margin-right: 10px;
    width: 25px
}

.diamond-list-types p {
    font-size: 16px;
    margin-right: 20px
}

.thead {
    align-items: center;
    background-color: #d9d9d9;
    display: flex;
    height: 50px;
    justify-content: space-evenly
}

.thead p {
    max-width: 90px;
    min-width: 90px
}

.diamond-list-row {
    align-items: center;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    display: flex;
    height: 55px;
    justify-content: space-evenly;
    margin: 5px 0;
    transition: all .2s ease-in-out;
    width: -webkit-max-content;
    width: max-content
}

.diamond-list-row img {
    max-width: 90px;
    min-width: 90px
}

.diamond-list-row p {
    max-width: 100px;
    min-width: 100px
}

.diamond-list-row:hover {
    background-color: #d9d9d9
}

.entityCard {
    background: #bfbfbf;
    border-radius: 20px !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    margin-bottom: 40px;
    width: 319px
}

.imageBox {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 319px;
    justify-content: center;
    object-fit: cover;
    overflow: hidden
}

.imageBox img {
    height: 320px;
    width: 320px
}

.entityBox p {
    font-size: 14px
}

.infoBox {
    background-color: #ddd;
    text-align: center
}

.infoBox p {
    font-size: 12px;
    line-height: 18px
}

.infoBox h3 {
    font-size: 22px
}

.infoBox h2 {
    font-size: 24px
}

.infoBox button {
    border-radius: 0;
    font-size: 16px;
    text-transform: none;
    width: 95px
}

.pricebox {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.pricebox p {
    color: #37a7de;
    font-size: 18px;
    font-weight: 700
}

.entityButton {
    background: none;
    background-color: #00008b !important;
    border: none;
    cursor: pointer;
    text-transform: none !important
}

.contact {
    background-color: #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px
}

.contact,
.diamond-view-tab-content {
    align-items: center;
    display: flex;
    justify-content: center
}

.diamond-view-tab-content {
    background-color: #f2f2f2 !important;
    border-radius: 10px;
    color: #000 !important;
    flex-direction: row;
    margin: 40px 0 !important;
    width: 50%
}

.diamond-view-tab-content div {
    margin: 20px !important;
    padding: 0 20px !important;
    width: 100%
}

.button {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-size: 25px !important;
    height: 54px !important;
    margin-right: 15px !important;
    padding: 0 20px !important;
    text-transform: none !important
}

.button,
.button:hover {
    background-color: #d9d9d9 !important;
    color: #000 !important
}

.button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15) !important
}

.active-tab {
    fill: #333
}

.active-tab path {
    fill: #fff
}

.tabs svg {
    transition: all .2s ease-in-out
}

.tabs svg:hover {
    fill: #5b5b5b;
    cursor: pointer
}

.tabs svg:hover path {
    fill: #fff
}

.tabs svg:focus {
    box-shadow: 0 0 0 2px #333
}

.tabs svg:focus.active {
    fill: #333
}

.diamond-view-tabs {
    margin-top: 50px
}

.diamond-view-tabs button {
    color: #000 !important;
    font-size: 18px !important;
    margin: 10px 50px;
    padding: 10px 20px;
    text-transform: none !important
}

.diamond-view-tabs-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.diamond-view-tabs-2 button {
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 !important;
    border-right: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, .15);
    font-size: 18px !important;
    margin: 0 10px !important;
    text-transform: none !important;
    width: 150px
}

.tabs-2-content {
    background-color: rgba(0, 0, 0, .15) !important;
    width: 70%
}

.tabs-2-info div {
    margin: 20px !important;
    padding: 10px 40px !important
}

.tabs-2-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px
}

.tabs-2-info table {
    border-collapse: collapse;
    margin: 10px 20px;
    padding: 10px 40px;
    width: 80%
}

.tabs-2-info tr {
    border-bottom: 1px solid #000
}

.tabs-2-info td {
    padding: 10px 20px
}

.tabs-2-info-header {
    border-bottom: none !important
}

.tabs-2-info-header p {
    align-items: center;
    background-color: #979797;
    border-radius: 0;
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    height: 35px;
    justify-content: center;
    line-height: 26px;
    width: 50%
}

.tabs-2-info-data {
    border-bottom: 1px solid #000
}

.back-btn {
    border-radius: 0 !important;
    font-size: 18px !important;
    height: 50px !important;
    left: 10%;
    margin: 30px !important;
    position: relative;
    text-transform: none !important;
    width: 200px !important
}

.back-btn,
.back-btn:hover {
    background-color: #d9d9d9 !important;
    color: #000 !important
}

.back-btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15) !important
}

.active {
    background-color: #fff !important;
    border-left: 1px solid #000 !important;
    border-radius: 10px 10px 0 0 !important;
    border-right: 1px solid #000 !important;
    border-top: 1px solid #000 !important;
    color: #000 !important
}

.tabs-2-active {
    background-color: rgba(0, 0, 0, .15) !important;
    color: #000 !important
}

body {
    font-family: Poppins, serif !important;
    overflow-x: hidden;
    overflow-y: auto
}

.App {
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

@media (prefers-reduced-motion:no-preference) {
    .App-logo {
        -webkit-animation: App-logo-spin 20s linear infinite;
        animation: App-logo-spin 20s linear infinite
    }
}

.App-header {
    align-items: center;
    background-color: #282c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh
}

.App-link {
    color: #61dafb
}

@-webkit-keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

/*# sourceMappingURL=main.dc1cd690.css.map*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* .header div {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .header img {
    width: 250px;
    margin: 30px; */
}

.header-btn {
    text-transform: none !important;
    font-size: 22px !important;
    border-radius: 10px 10px 0 0 !important;
    width: 150px !important;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.css-16ehxjz {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.diamondShapes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0 50px 20px 50px;
}

.css-r8nzuw {
    border-radius: 12px;
    box-sizing: content-box;
    display: contents;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: rgb(25, 118, 210);
    -webkit-tap-highlight-color: transparent;
    height: 2px;
    width: 100%;
    padding: 13px 0px;
    margin: 0px 25px;
}



.diamondShapes p {
    font-size: 12px;
}

.diamondShapes-svgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 90%;
    background-color: #d9d9d9;
    padding: 10px;
    overflow: auto;
}

.filterEntity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.color-filter-entity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    width: 83%;
}

.toggleColor {
    border: none !important;
    border-radius: 0 !important;
    width: 40px !important;
    font-size: 12px !important;
    color: #000 !important;
    background-color: #fff !important;
    margin: 0 10px !important;
    height: 30px !important;
    text-transform: none !important;
}

.filterEntity p {
    font-size: 14px;
}

.slider {
    width: 85% !important;
}

.filter-slider,
.filter-text-fields {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.diamondShape {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diamondShapes-svgs svg {
    height: 32px;
    width: 32px;
}

.diamondShapes-svgs svg:hover {
    fill: #314fde;
    cursor: pointer;
}

.shape-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selected svg {
    fill: #314fde;
}

.controller button {
    margin: 30px 5px;
    font-size: 11px;
    height: 28px;
    text-transform: none;
    border-radius: 0;
}

.controller p {
    font-size: 14px;
}

.filter-slider-text-fields {
    width: 85%;
}

.filter-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filter-text-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.filter-text-fields input {
    padding: 5px 10px;
    font-size: 12px;
}

.slider-root {
    width: 85%;
}

.slider-label {
    display: flex;
    justify-content: space-around;
    width: 85%;
}

.slider-label div {
    margin: -10px 0 10px 0;
    font-size: 14px;
}

.fancy-color-root {
    width: 100%;
}

.color-container {
    height: 50px !important;
}

.color-container p {
    font-size: 10px;
}

.fancy-color-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color-selected svg {
    border: 1px solid #000;
}

.sort-by {
    margin: 30px 5px;
    font-size: 11px;
    height: 28px;
    text-transform: none;
    border-radius: 0;
}


/* .header img {
    width: 250px;
    margin: 30px;
} */

.header-btn {
    text-transform: none !important;
    font-size: 22px !important;
    border-radius: 10px 10px 0 0 !important;
    width: 150px !important;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    font-family: "Poppins", serif !important;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*# sourceMappingURL=main.dc1cd690.css.map*/
.css-19kzrtu {
    padding: 24px;
}
.css-1dhxdyw {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border-width: 1px 1px 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-image: initial;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(49, 79, 222);
    border-top-style: solid;
    border-top-color: rgb(48, 48, 48);
    border-right-style: solid;
    border-right-color: rgb(48, 48, 48);
    border-left-style: solid;
    border-left-color: rgb(48, 48, 48);
    background-color: rgb(255, 255, 255);
}
.css-1vq41m1 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border-width: 1px 1px 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-image: initial;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(49, 79, 222);
    border-top-style: solid;
    border-top-color: rgb(48, 48, 48);
    border-right-style: solid;
    border-right-color: rgb(48, 48, 48);
    border-left-style: solid;
    border-left-color: rgb(48, 48, 48);
    background-color: rgb(255, 255, 255);
}
